<div class="container">
    <header>
        <div class="logo">
            <img src="../assets/img/visa-signature-400x225.webp" alt="Bank Icon">
        </div>
        <h1>BANCO</h1>
    </header>
   
        <h1>Formulario de Registro</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-container">  
                <div class="form-column">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" id="id" name="id" formControlName="id" required>
                        <div *ngIf="contactForm.get('id')?.hasError('required') && contactForm.get('id')?.touched">
                            <span class="error">ID es requerido!</span>
                        </div>
                        <div *ngIf="contactForm.get('id')?.hasError('minlength') && contactForm.get('id')?.touched">
                            <span class="error">ID debe tener al menos 3 caracteres.</span>
                        </div>
                        <div *ngIf="contactForm.get('id')?.hasError('maxlength') && contactForm.get('id')?.touched">
                            <span class="error">ID no puede tener más de 10 caracteres.</span>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" value="Tarjeta Crédito" formControlName="name" required>
                        <div *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
                            <span class="error">Nombre es requerido!</span>
                        </div>
                        <div *ngIf="contactForm.get('name')?.hasError('minlength') && contactForm.get('name')?.touched">
                            <span class="error">Nombre debe tener al menos 5 caracteres.</span>
                        </div>
                        <div *ngIf="contactForm.get('name')?.hasError('maxlength') && contactForm.get('name')?.touched">
                            <span class="error">Nombre no puede tener más de 100 caracteres.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-container"> 
                <div class="form-column">
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <input type="text" id="description" name="description" formControlName="description" required>
                        <div *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
                            <span class="error">Este campo es requerido!</span>
                        </div>
                        <div *ngIf="contactForm.get('name')?.hasError('minlength') && contactForm.get('name')?.touched">
                            <span class="error">Descripción debe tener al menos 10 caracteres.</span>
                        </div>
                        <div *ngIf="contactForm.get('name')?.hasError('maxlength') && contactForm.get('name')?.touched">
                            <span class="error">Descripción no puede tener más de 200 caracteres.</span>
                        </div>
                        
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input type="text" id="logo" name="logo" formControlName="logo" required>
                        <span class="error">Este campo es requerido!</span>
                    </div>
                </div>    
            </div>
            <div class="form-container"> 
                <div class="form-column">
                    <div class="form-group">
                        <label for="release-date">Fecha Liberación</label>
                        <input type="date" id="release-date" name="release-date" formControlName="date_release" required value="2023-02-22">
                        <div *ngIf="contactForm.get('date_release')?.hasError('required') && contactForm.get('date_release')?.touched">
                            La fecha de liberación es requerida.
                        </div>
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group">
                        <label for="review-date">Fecha Revisión</label>
                        <input type="date" id="review-date" name="review-date"  formControlName="date_revision" required >
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button  class="btn reset" (click)="Reiniciar()">Reiniciar</button>
                <button type="submit" class="btn submit">Enviar</button>
            </div>
        </form>
</div>
